[Unit]
Description=Madara Runner
After=network.target

[Service]
Type=simple
ExecStart=/nix/var/nix/profiles/default/bin/nix develop /path/to/madara-bench  --extra-experimental-features "nix-command flakes" --command make -C /path/to/madara-bench start
ExecStop=/nix/var/nix/profiles/default/bin/nix develop /path/to/madara-bench  --extra-experimental-features "nix-command flakes" --command make -C /path/to/madara-bench stop
ExecReload=/nix/var/nix/profiles/default/bin/nix develop /path/to/madara-bench  --extra-experimental-features "nix-command flakes" --command make -C /path/to/madara-bench restart
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
RequiredBy=network.target
